body {
    padding: 20px;
}

#exportToCaracol {
  float:left;
  clear: both;
}

#submitButton {
  clear: left;
  float: right;
}

.mark {
  clear:both;
}

.markTitle {
  font-weight: bold;
}

#right {
  float:right;
  width: 400px;
  background-color:aliceblue;
}