body { 
  padding-top: 70px; 
}

#exportToCaracol {
  float:left;
  clear: both;
}

#submitButton {
  /*clear: left;
  float: right;*/
}

.mark {
  clear:both;
}

.markTitle {
  font-weight: bold;
}

#right {
  float:right;
  width: 400px;
  background-color:aliceblue;
  padding-bottom: 70px;
}
#focus {
  float: left;
  max-width: 400px; 
}

/*
.container.navbar-wrapper{margin-bottom:0;width:auto}
.navbar-inner{border-radius:0;margin:-20px 0}
.navbar .brand{font-size:24px;font-family:'Signika Negative',sans-serif;text-shadow:none;color:#ff9000}
.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner{-webkit-box-shadow:none !important;box-shadow:none !important}
.navbar-inner{border:none;background-image:none;background-color:#ffeed8}
.navbar .nav a.buttonContainer:hover{background-color:#fff}
@media (min-width: 980px){.navbar ul.nav.leftUL{margin-left:50px}
.navbar .nav > li.active > a.buttonContainer{color:#fff}
.navbar .nav > li.active > a.clipNavButton,.navbar .nav > li.active > a.clipNavButton:hover{background-color:#61d8a2}
.navbar .nav > li.active > a.recNavButton,.navbar .nav > li.active > a.recNavButton:hover{background-color:#ffac40}
.navbar .nav > li > a.clipNavButton{color:#61d8a2}
.navbar .nav > li > a.recNavButton{color:#ffac40}
*/