<!doctype html>
<html data-ng-app="caracolExtension" data-ng-csp>
  <head>
    <meta charset="UTF-8">
    <title>Caracol Suggested Links</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/bootstrap-theme.min.css">
  </head>
  <body>
    <div ng-controller="NewTabCtrl">
      <button ng-click='submitUrls(exports)' >Caracol selected links</button>
      <div>{{exports}}</div>
      <div ng-repeat-start="mark in bookmarks" class="mark" >  </div>
        <div ng-if="mark.url" class="btn btn-primary" ng-class="myVar">
          <input type='checkbox' ng-change="toggleUrlForSubmit(mark.id, mark)" ng-model="myVar" ng-true-value="btn btn-success" ng-false-value="btn btn-danger" />{{mark.title}}
          <p>{{mark.url}}</p>
          
        </div>
      <div ng-repeat-end></div>

     
    </div>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/ui-bootstrap.js"></script>
    <script src="lib/ui-bootstrap-tpls.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
    <script src="scripts/chromereload.js"></script>
  </body>
</html>