<button 
  class="btn btn-lg" 
  ng-click="submitUrlsWrapper()"
  id="submitButton"
  >
  Send these links to Caracol
</button>
<h3>We'll send these to Caracol for processing:</h3>
<div  ng-repeat-start="mark in exports"
      ng-click="toggleUrlSubmitStatus(mark.id, mark, mark.caracolSubmitStatus)">
</div>
  <div class="panel panel-success">
    <div class="panel-heading"><h4 class="panel-title">{{mark.title}}</h4></div>
    <div class="panel-body">{{mark.url}}</div>
  </div>
<div ng-repeat-end></div>