<h4>Great! We'll keep these in your archive:</h4>
<div ng-repeat-start="mark in exports" class="mark">  </div>
  <div class="panel panel-success">
    <div class="panel-heading"><h4 class="panel-title">{{mark.title}}</h4></div>
    <div class="panel-body">{{mark.url}}</div>
  </div>
<div ng-repeat-end></div>
<h4>Caracol archive:</h4>
<div ng-repeat-start="mark in myclippings" class="mark">  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><h4 class="panel-title">{{mark.clipping.title}}</h4></div>
    <div class="panel-body">{{mark.clipping.uri}}</div>
    <ng-include src="mark.clipping.content"></div>

  </div>
<div ng-repeat-end></div>
